<h1>Liste des monuments</h1>
<div class="container">
    <input 
        #input
        type="number"
        (keyup.enter)="selectMonument(input.value)" 
    >
    <div class="row">
        <p *ngIf="monumentSelected">Vous avez sélectionné le monument {{ monumentSelected.name }}</p>
        <p *ngIf="!monumentSelected">Aucun monument n'a été trouvé</p>
        <div *ngFor="let monument of monumentList" class="col m4 s6">
            <div class="card horizontal" appBorderCard="#000">
                <div class="card-image">
                    <img [src]="monument.picture" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ monument.name }}</p>
                        <p><small>{{ monument.created | date:"dd/MM/Y" | uppercase }}</small></p>
                        <span class="{{ monument.country | countryByColor }}">{{ monument.country }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>